@{
    ViewBag.Title = "关于我的女儿";
}

<div class="btn-group-vertical">
    <div class="btn-group">
        <button class="btn btn-sq-lg btn-primary">
            <span class="glyphicon glyphicon-list"></span> 照片
        </button>
        <button class="btn btn-sq-lg btn-primary disabled">
            <span class="glyphicon glyphicon-edit"></span> 视频
        </button>
    </div>
    <button class="btn btn-rc-lg btn-success disabled">
        <span class="glyphicon glyphicon-calendar"></span>日记
    </button>
</div>