
    @model AllGoodMemory.Models.mydaughter_photos

    @{
        ViewBag.Title = "照片";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }

    <h2>可心的照片</h2>
    <hr />
    <table>
        <tr>
            <th>照片ID</th>
            <th>照片名称</th>
            <th>分组ID</th>
        </tr>
        <tr>
            <td>
                @Html.DisplayFor(model => model.ID)
            </td>
            <td>
                @Html.DisplayFor(model=>model.PotoName)
            </td>
            <td>
                @Html.DisplayFor(model=>model.GroupID)
            </td>
        </tr>
    </table>

  
    
